body {
	background: #0e0e1b;
	color: #00FF00;
	font-family: monospace;
	font-size: 18px;
}

#head {
	font-size: 12px;
	margin: 0 auto;
	padding: 20px;
}

#terminal {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
	background-color: #17172b;
	border-radius: 5px;
    overflow: hidden;
}

#line {
	display: flex;
}

#prompt {
	float: left;
	display: none;
	margin-right: 8px;
    flex: 1;
}

#command-line {
	flex: 3;
	float: left;
	border: none;
	background-color: transparent;
	color: #00FF00;
	font-family: monospace;
	font-size: 18px;
	outline: none;
	height: 20px;
	display: none;
}

.user {
  	color: #ff00d4;
}

.output {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.link {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.link:hover {	
	text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.blink:hover {
	color: #ff00d4;
}

.command {
  	color: #ffff66;
}

@media (max-width: 700px) {
	#line {
	  flex-direction: column;
	}
	#prompt,
	#command-line {
	  flex: 1;
	}
  }